
name: CI/CD Pipeline

on:
  push:
    branches:
      - 'release/v*'
    paths-ignore:
      - '**.md'
    tags-ignore:
      - '*-beta'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: lucaxiong/cicd:${{ github.sha }}
          build-args: |
            SOME_ARG: some_value

      - name: Sign Docker Image
        run: echo "Image signing feature to be implemented"

      - name: Scan for vulnerabilities
        id: scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'lucaxiong/cicd:${{ github.sha }}'
          format: 'table'
          output: 'trivy-report.txt'
# "text": "Vulnerability scan failed! Detailed report attached.\nReport URL: ${{ steps.upload_report.outputs.slack-file-link }}"
      - name: Upload vulnerability report to Slack
        if: failure()
        uses: slackapi/slack-github-action@v1.26.0
        with:
          payload: |
            {
              "text": "Vulnerability scan failed, see report attached.",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "Vulnerability scan failed! Detailed report attached.\n"
                  }
                }
              ]
            }
            
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK

      - name: Notify Slack on successful build
        if: success()
        uses: slackapi/slack-github-action@v1.26.0
        with:
          payload: |
            {
              "text": "Build successful, image pushed to Docker Hub.",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "Build successful! :tada:\n*Name:* Xiong Kun\n*Matriculation number:* A0290833B\n*Email:* e1327864@u.nus.edu\n*Repository:* ${{ github.server_url }}/${{ github.repository }}\n*Docker Hub URL:* https://hub.docker.com/r/lucaxiong/cicd"
                  }
                }
              ]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK

      - name: Fail workflow on vulnerabilities
        if: failure()
        run: exit 1
