
name: CI/CD Pipeline

on:
  push:
    branches:
      - 'release/v*'
    paths-ignore:
      - '**.md'
    tags-ignore:
      - '*-beta'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: username/my-app:${{ github.sha }}
          build-args: |
            SOME_ARG: some_value

      - name: Sign Docker Image
        run: echo "Image signing feature to be implemented"

      - name: Scan for vulnerabilities
        id: scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'username/my-app:${{ github.sha }}'
          format: 'table'
          output: 'trivy-report.txt'

      - name: Upload vulnerability report to Slack
        if: failure()
        uses: slackapi/slack-github-action@v1.17.0
        with:
          slack-webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}
          channel-id: 'test-submission'
          text: 'Vulnerability scan failed, see report attached.'
          file: 'trivy-report.txt'

      - name: Notify Slack on successful build
        if: success()
        uses: slackapi/slack-github-action@v1.17.0
        with:
          slack-webhook-url: ${{ secrets.SLACK_WEBHOOK_URL_SUBMISSION }}
          channel-id: 'test-submission'
          text: >
            NAME: XIONG KUN
            Metriculation: 
            Email: 
            Git: ${{ github.server_url }}/${{ github.repository }}
            Image: https://hub.docker.com/r/lucaxiong/my-app/tags

      - name: Fail workflow on vulnerabilities
        if: failure()
        run: exit 1
